
__pycache__/leagueinstaller.cpython-310.pyc
python_src/src/__pycache__/leagueinstaller.cpython-310.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/lol-for-linux-installer.iml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/leagueinstaller_code.cpython-310.pyc
