[Desktop Entry]
Version=1.0
Name=League of Legends (lol-for-linux-installer)
Comment=Launch lol-for-linux-installer
Exec=/usr/bin/lol-for-linux-installer
Icon=/usr/share/lol-for-linux-installer/lol-for-linux-installer.png
Terminal=false
Type=Application
Categories=Game;
