[Desktop Entry]
Version=1.0
Name=League of Legends (lol-for-linux-installer)
Comment=Launch lol-for-linux-installer
Exec=lolforlinuxinstaller
Icon=/usr/share/lol-for-linux-installer/lolforlinuxinstaller.svg
Terminal=false
Type=Application
Categories=Game;
